*, body
{
    margin: 0;
    box-sizing: border-box;
}

/* Split Screen start */

#medico, #paciente
{
    position: fixed;
    top: 0;

    height: 100%;
    width: 50%;

    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#medico
{
    left: 0;
    background-color: #202020;
}

#paciente
{
    right: 0;
    background-color: #7F24BF;
}

/* Split Screen end */

/* Top section start */

.top
{
    width: 100%;
    height: 20%;
}

.title
{ 
    position: absolute;
    left: 2vw;
    top: 2vh;

    font-weight: bold;
    font-size: 4vw;
}

/* Top section end */

/* Mid section start */

.content
{
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.list
{
    font-size: 3vh;
    margin: 0 auto;
}

.list-item
{
    display: flex;
    flex-direction: row;
    padding-bottom: 3vh;
}

.list-item-icon
{
    height: 3vh;
    padding: 0 1.5vw;
    color: #fff;
}

.image
{
    margin: auto;
}

/* Mid section end */

/* Bottom section start */

.bottom
{   
    width: 100%;
    height: 20%;
}

a
{
    text-decoration: none;
}

#medico .button
{
    background-color: #7F24BF;
    box-shadow: 3px 3px #541780;
}

#paciente .button
{
    background-color: #202020;
    box-shadow: 3px 3px #303030;
}

.button
{
    margin: auto;

    width: 35%;
    height: 5vw;
    border-radius: 3em;
    
    text-align: center;
}

.button-text
{
    font-family: 'Lalezar', cursive;
    color: #fff;
    font-size: 4vw;

    margin: auto;
}

.button-text:hover
{
    color: #a7a7a7;
    transition-duration: 1s;
}

/* Bottom section end */

/* Astronaut section start*/

#astronauta
{
    position: fixed;
    top: 0;
    right: 0;

    width: 9vw;
    height: 9vw;
    border-bottom-left-radius: 10em;

    background-color: #202020;
}

.astronauta-icon
{
    position: fixed;
    top: 0.8vw;
    right: 0.8vw;

    width: 5vw;
    height: auto;

    color: #fff;
}

.astronauta-icon:hover
{
    color: #a7a7a7;
    transition-duration: 1s;
}

/* Astronaut section end */